body {
	background-color: #333;
	color: #ddd;
}

.nav {
	height: 30px;
	margin-bottom: 10px;
}

.nav-button {
	width: 100px;
	border: 1px solid black;
	display: inline-block;
	border-style: outset;
	height: calc(100% - 6px);
	padding: 3px;
	line-height: 24px;
	margin: 0;
	text-align: center;
	cursor: pointer;
	user-select: none;
}

.nav-button.selected {
	background-color: #339;
	border-style: inset;
}

#main-content {
	max-width: 1000px;
}

.category {
	background-color: #0004;
	margin-bottom: 5px;
	padding: 5px;
}

.feature {
	background-color: #0004;
	padding: 5px;
	margin-bottom: 5px;
}

h4 {
	margin: 0;
	padding: 10px;
}

.category.level-1 {
	background-color: #322;
}

.category.all {
	background-color: #232;
}

.category.general {
	background-color: #223;
}

.category.divine-favour {
	background-color: #9f6700;
}

.stats div {
	display: inline-block;
	width: 60px;
	height: 25px;
	padding: 0 5px;
	line-height: 25px;
	margin: 2px 2px 5px 2px;
	background-color: #0004;
	text-align: center;
}

.stats div.associated {
	background-color: #225522;
}

.paragraph {
	background-color: #0004;
	padding: 5px;
	margin-bottom: 5px;
}

.example {
	background-color: #0004;
	padding: 5px;
	margin-bottom: 5px;
	padding-left: 20px;
	position: relative;
}

.example + .example {
	margin-top: -5px;
}

.example::before{
	content: "•";
	position: relative;
	top: 0px;
	left: -10px;
}
